<div class="root">
  <div class="header">
    <div class="header-left display">
      SEASONS
    </div>
    <div class="header-center sans">
      Try before you buy
    </div>
    <div class="header-right"></div>
  </div>
  <div class="body">
    <p class="text-body sans">
      Rent the
      <a href="https://wearseasons.com" class="text-link"
        >Clark cardigan gesso</a
      >
      for 30-days with Seasons.
    </p>
    <p class="text-body sans">
      Free insurance, shipping & returns included.
    </p>
    <p class="text-body sans">
      Apply for membership at
      <a href="https://wearseasons.com" class="text-link"
        >www.wearseasons.com</a
      >
    </p>
  </div>
</div>
