<div id="root">
  <div class="header">
    <div class="header-left">
      <span class="sans"> Try before you buy with&nbsp;</span>
      <span class="display">SEASONS</span>
    </div>
    <a class="header-right" href="${seasonsProductUrl}" target="_blank">
      <svg
        width="14px"
        height="13px"
        viewBox="0 0 14 13"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <g
          id="Judy-Turner---Try-With"
          stroke="none"
          stroke-width="1"
          fill="none"
          fill-rule="evenodd"
        >
          <g
            id="Seasons---Try-with-Seasons"
            transform="translate(-1000.000000, -630.000000)"
          >
            <g id="Widget" transform="translate(527.000000, 616.000000)">
              <g id="Group-4" transform="translate(474.000000, 14.000000)">
                <rect
                  id="Rectangle"
                  fill="currentColor"
                  x="0"
                  y="0"
                  width="12"
                  height="1"
                ></rect>
                <rect
                  id="Rectangle-Copy-3"
                  fill="currentColor"
                  transform="translate(11.500000, 6.000000) rotate(90.000000) translate(-11.500000, -6.000000) "
                  x="5.5"
                  y="5.5"
                  width="12"
                  height="1"
                ></rect>
                <line
                  x1="11"
                  y1="1"
                  x2="0"
                  y2="12"
                  id="Path"
                  stroke="currentColor"
                ></line>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </a>
  </div>
  <div class="body">
    <p class="text-body sans">
      Rent the
      <a href="${seasonsProductUrl}" target="_blank" class="text-link"
        >${name}</a
      >
      for 30-days starting at $65/mo.
    </p>
    <p class="text-body sans">Free dry cleaning, insurance, shipping & returns included.</p>
    <p class="text-body sans">
      Apply for membership at
      <a href="${seasonsHomeUrl}" target="_blank" class="text-link"
        >www.wearseasons.com</a
      >
    </p>
  </div>
</div>
