.text-try-with {
  font-size: 12px;
}
.text-seasons {
  text-transform: uppercase;
  font-size: 15px;
}
#root {
  padding: 12px 20px;
  background-color: black;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
#root:focus {
  outline: none;
}
